body {
    font-family: Arial, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2023/02/16/03/43/music-player-7792956_1280.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: cover;
    margin: 0;
}

.music-player {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.controls {
    margin: 20px 0;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

#seek-bar {
    width: 100%;
    margin-top: 10px;
}

#current-time {
    font-size: 14px;
    color: #555555;
}
